html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #FDF6E3;
}

.main {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 540px;
  height: 320px;
}

.portrait {
  float: left; 
}

.links {
  height: 320px;
  float: left;
}

.links > a {
  display: block;
  width: 300px;
  background: #002B36;
  text-align: center;
  height: 106px;
  line-height: 106px;
  font-size: 40px;
}

.links > a:nth-child(2) {
  height: 108px;
}

a, a:visited, a:hover {
  color: #D23681;
  text-decoration: none;
}

.links > a:hover {
  background: #B68900;
  color: #002B36;
}

@media only screen and (max-device-width: 480px) {

}
