body {
	background: #F0EFD1;
	color: #191919;
	font-family: helvetica, arial,sans-serif;
	font-size: 1.2em;
	padding-bottom: 2em;
}

/* Articles */
article {
	margin: 1em 10% 0 10%;
	text-align: justify;	
}

article a {
	color: #BF3211;
}

article p {
	line-height: 1.5em;
	margin-bottom: 0.8em;
}

article header {
	position: relative;
	margin-bottom: 2em;
	text-align: left;
}

article header h1 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
	font-size: 2.8em;
	font-weight: bolder;
}

article header time {
	position: absolute;
	right: 0;
	color: #5D736B;
	font-size: 14px;
}

article img {
	margin: 0.6em;
}

article figure {
	border-top: 1px dotted #BF3211;
	border-bottom: 1px dotted #BF3211;
	padding: 5px;
}

article figure img {
	border: 1px solid #999;
	padding: 5px;
}

article figure figcaption {
	font-size: 12px;
	margin-top: 10px;
}

article h2 {
	font-size: 1.6em;
	font-weight: bold;
	border-bottom: 1px dashed;
	display: inline;
}

article footer {
	font-style: italic;
	font-weight: bold;
	float: right;
}

/* End Articles */
