html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #FAF9F7;
  color: #393738;
  font-family: 'Verdana', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
}

header {
  width: 100%;
}

header h1 {
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 100%;
}

header hr {
  background: #DC441F;
  color: #DC441F;
  border: 0;
  height: 5px;
  width: 70%;
}

header p {
  font-size: 11px;
  text-align: center;
  width: 100%;
}

article h2 {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 32px;
  background: #E0E1D3;
  padding-left: 1.5em;
}

article ul {
  margin: 0 4em 0 2em;
  list-style-type: square;
}

article ul li {
  color: #A4BB69;
}

article ul li span {
  color: #393738;
  line-height: 1.4em;
}

section {
  margin-bottom: 2em;
}

footer {
  background: #DC441F;
  border-radius: 8px 8px 0 0;
  height: 15px;
}
