extends ../layouts/base
block title
  title about Matthew Phillips
block nav
  mixin nav('about')
block content
  .post
    :markdown
      # A little about me  

      JavaScript Engineer with [Bitovi](http://www.bitovi.com).

      I like to build cool things.

      Interested in specs.

      # Contact me

      * [Email](mailto:matthew@matthewphillips.info)

      * [GitHub](https://github.com/matthewp)

      * [Twitter](https://twitter.com/matthewcp)
