<!doctype html>
<html>
<head>
  <title>World Wide Web Home of Matthew Phillips</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font: 300 1em/1.4 'Open Sans',sans-serif;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    header {
      flex: none;
    }

    h1 {
      margin: 0;
    }

    header hgroup {
      padding: 1.5em;
      background-color: #f0f0f0;
    }

    main {
      display: flex;
      padding: 1.5em;
    }

    article {
      flex: 1;
      padding: 0 2em;
    }

    article h1 {
      font-weight: 300;
    }

    nav {
      background: #f0f0f0;
      flex: 0 0 12em;
      order: -1;
      display: flex;
      padding: 1em;
      flex-direction: column;
    }

    nav strong {
      align-self: center;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
    }

    nav ul a {
      color: inherit;
    }

    .posts a {
      color: inherit;
      font-weight: 200;
      font-size: 85%;
    }
  </style>
</head>
<body>
  <header>
    <hgroup>
      <h1>Matthew Phillips</h1>
    </hgroup>
  </header>
  <main>
    <article>
      <h1>Posts</h1>

      <div class="posts">
        {{#posts}}
        <h2><a href="{{link}}">{{{title}}}</a></h2>
        {{/posts}}
      </div>
    </article>
    <nav>
      <strong>Find Me</strong>

      <ul>
        <li><a href="https://github.com/matthewp">GitHub</a></li>
        <li><a href="http://lanyrd.com/profile/matthewcp/">Lanyrd</a></li>
      </ul>
    </nav>
  </main>
</body>
</html>
