
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Doc.title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="alternate" type="application/rss+xml" title="feed one" href="http://feeds.feedburner.com/MatthewsHomeOnTheWorldWideWeb?format=xml"/>
	</head>
	<body>
    <header>
      <h1>{{.Doc.title}}</h1>
    </header>
    <main>
      {{.Doc.body}}
    </main>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
